@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  background: #fafafa;
}

body {
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
}

::-webkit-scrollbar {
  display: none;
}
